<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <!--Sempre que for usar a lista colocar um for, que nesse caso é o *ngFor-->
    <ion-item *ngFor="let user of listaUsuarios">
      <ion-avatar slot="start">
        <img [src]="user.avatar">
      </ion-avatar>
      <ion-label>
        <div>
          <!--cada usuário da lista tem uma informação, o user vem da listaUsuarios-->
          <h1>{{user.first_name}}{{user.last_name}}</h1>
          <h2>{{user.email}}</h2>
        </div>
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="buscarUsuarios(page - 1)">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>{{page}} de {{totalPaginas}}</ion-col>
        <ion-col>
          <ion-button expand="block" (click)="buscarUsuarios(page + 1)">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
